$modal-window-max-width: 544px;

.modal-window {
  grid-row: 1 / -1;
  grid-column: 1 / 5;
  border: 1px solid #ddd;
  z-index: 1000;
  background-color: rgba(#000, 0.7);
  border: none;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  &-bg {
    grid-column: 1;
    grid-row: 1;
    height: 90%;
    width: 85%;
    max-width: $modal-window-max-width;
    background-color: #fff;
    margin: auto;
  }

  &-heading {
    grid-column: 1;
    grid-row: 1;
    height: 2em;
    margin: 0 auto;
    font-weight: 400;
    z-index: 1;
  }

  &-close {
    outline: none;
    font-size: 2em;
    border: none;
    position: absolute;
    top: -1.2em;
    right: 50%;
    transform: translateX(calc(#{$modal-window-max-width} / 2 - 0.6em));
    cursor: pointer;

    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    &:active {
      font-weight: 200;
    }
  }

  &-content {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    color: #444f60;
    text-align: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
  }
}
