$modal-window-max-width: 544px;

.modal-window {
  grid-row: 1 / -1;
  grid-column: 1 / 5;
  border: 1px solid #ddd;
  z-index: 1000;
  background-color: rgba(#000, 0.7);
  border: none;

  display: grid;
  grid-template-rows: 7em 1fr;
  grid-template-columns: 1fr;

  &-bg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }

  &-heading {
    grid-column: 1;
    grid-row: 1;
    height: 2em;
    margin: 0 auto;
    font-weight: 400;
    z-index: 1;
  }

  &-close {
    position: absolute;
    top: -0.6em;
    right: 0.7em;
    align-self: flex-end;
    justify-self: flex-start;
    grid-row: 1;
    outline: none;
    font-size: 2em;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    &:active {
      font-weight: 200;
    }
  }

  &-content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    color: #444f60;
    text-align: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
  }
}
