$action-button-height: 6.5em;
$button-count: 7;
$button-rotation: 275deg;
$colors: (#7473ff, #aa8dfb, #d087fb, #fc7a97, #fd8385, #fd986f, #febb67);

.action-button {
  height: $action-button-height;
  width: $action-button-height;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(#{$action-button-height} / 2);
  left: calc(-#{$action-button-height} / 2);
  margin: auto;
  outline: none;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @for $i from 1 through length($colors) {
    // add colour from $colors array
    &-#{$i} {
      background-color: nth($colors, $i);
    }

    // rotate to counter balance <li> rotation
    &-container-dashboard-#{$i} {
      transform: rotate(-$button-rotation / $button-count * $i);
    }

    &-container-goal-tracker-#{$i} {
      // transform: rotate(-$button-rotation / $button-count * $i);
    }

    &-label {
      position: absolute;
      top: calc(#{$action-button-height} * 0.45);
      left: 50%;
      transform: translateX(-50%);
      color: #444f60;
      white-space: nowrap;
    }

    &-icon {
      font-size: calc(#{$action-button-height} * 0.4);
      color: #f1f1f1;
    }

    &-price {
      font-size: 2em;
    }

    &-#{$i}:hover {
      background-color: darken(nth($colors, $i), 5%);
      transform: scale(1.02);
    }
  }

  &-list-item {
    @for $i from 1 through length($colors) {
      // translate button away from center
      // rotate each button around translated circle
      &-dashboard-#{$i} {
        transform: rotate($button-rotation / $button-count * $i)
          translateX(-$action-button-height)
          translateY(15em);
      }

      // horizontal and center aligned
      &-goal-tracker-#{$i} {
        transform: translateX(
          $action-button-height *
            $i -
            $action-button-height *
            length($colors) /
            1.75
        );
      }
    }
  }
}
