.view-panel {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 7em 1fr 7em;
  grid-template-rows: 7em 1fr min-content 1fr 7em;

  &-action-button-list {
    list-style: none;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;

    &-dashboard {
      grid-column: 2;
      align-items: center;
    }

    &-goal-tracker {
      grid-row: 4;
      grid-column: 2;
      align-items: start;
      margin-top: 2em;
      overflow-x: scroll;
    }
  }
}
