$main-image-dashboard-height: 14em;
$main-image-goal-tracker-height: 11em;

.main-image {
  transform: scale(0) rotate(30deg);
  opacity: 0.3;
  animation: rotateIn 0.6s ease-out forwards 0.5s;

  &-dashboard {
    height: $main-image-dashboard-height;
    width: $main-image-dashboard-height;
  }

  &-goal-tracker {
    height: $main-image-goal-tracker-height;
    width: $main-image-goal-tracker-height;
  }

  &-container-dashboard,
  &-container-goal-tracker {
    grid-column: 2;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }

  &-container-dashboard {
    grid-row: 1 / -1;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  &-container-goal-tracker {
    grid-row: 1;
    align-self: start;
    margin-top: 3em;
    padding: 1.5em;
  }
}

@keyframes rotateIn {
  0% {
    // transform: scale(0.3) rotate(90deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
