$form-max-width: 20em;

.form-input {
  font-size: 1em;
  padding: 0.7em 0.4em;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  width: 80%;
  max-width: 25em;
  transition: all 0.8s;

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    border-bottom: 2px solid #febb67;
  }

  &:valid {
    border-bottom: 2px solid #33dab5;
  }

  &:invalid {
    border-bottom: 2px solid #f87e7e;
  }

  &-label {
    transform: translateX(calc(50% - (#{$form-max-width} / 2) - 1.7em));
    margin-top: 2em;
    color: #25cea9;
  }
}
